.intro {
    font-family:
        Atkinson Hyperlegible,
        sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
}

.about {
    font-family:
        Atkinson Hyperlegible,
        sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

.projects {
    font-family:
        Atkinson Hyperlegible,
        sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

.projectheader {
    font-family:
        Atkinson Hyperlegible,
        sans-serif;
    font-size: 26px;
    /*line-height: 1.4;*/
}

.projectdesc {
    font-family:
        Atkinson Hyperlegible,
        sans-serif;
    font-size: 20px;
    width: 45%;
}

.project-wrapper {
    display: flex;
    align-items: flex-start; /* Align top edges */
    gap: 10px; /* Space between text and image */
}

.projectphoto {
    width: 55%;
    /*height: 333px;*/
}

.resume {
    font-family:
        Atkinson Hyperlegible,
        sans-serif;
    font-size: 16px;
}

.headers {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.minorheaders {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.bullets {
    margin: 0;
    padding-top: 0;
    line-height: 1.2em;
}

.header {
    font-family:
        Atkinson Hyperlegible,
        sans-serif;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

body {
    background-color: whitesmoke;
    color: black;
    padding: 0 10px;
    margin-left: 0;
    margin-right: 0;
}

.content {
    margin-left: 25%;
    margin-right: 25%;
}

.widecontent {
    margin-left: 10%;
    margin-right: 10%;
}

.center {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

@media (max-width: 768px) {
    .intro {
        font-size: 32px;
        text-align: center;
    }
    .header {
        font-size: 22px;
    }
    .footer {
        font-size: 14px;
    }
    .content {
        margin-left: 0;
        margin-right: 0;
    }
    body {
        margin-left: 0;
        margin-right: 0;
    }
    .projectphoto {
        visibility: hidden;
    }
    .projectdesc {
        width: 100%;
    }
    .flex-container {
        margin-top: 10%;
        flex-direction: column;
    }
}
@media print {
    .no-print {
        display: none !important;
    }
    @page {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
