body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background-color: #212121;
    color: #E0E0E0;
    padding: 0 10px;
}
@media (min-width: 768px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
    }
}
a {
    color: #80CBC4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
