body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background-color: #212121;
    color: #e0e0e0;
    padding: 0 10px;
}
@media (min-width: 768px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
    }
}
@media print {
    .no-print {
        display: none !important;
    }
    @page {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }
}

a {
    color: #80cbc4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
